<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops! You are on an invalid page.</title>
</head>
<body>
    <h1 style="text-align: center;">oops! You are on an invalid page.</h1>
    <p style="text-align: center;">Don't be so upset we are here to help you</p>
    <p style="text-align: center;">Chose where you want to go</p>
    <a href="/login" style="text-align: center; display:block; margin:10px">login</a>
    <a href="/signup" style="text-align: center; display:block; margin:10px">Signup</a>
    <a href="/user/devnydv" style="text-align: center; display:block; margin:10px">Admin</a>
</body>
</html>