<div class="url-card">
    <form hx-post="/addurl" hx-swap="outerHTML" hx-target="closest .url-card ">
        <div class="new-card-input">
            <input type="text" id="title" name="title" placeholder="Title for the URL" required>
            <input type="url" name="url" placeholder="Url" required>
            <input type="text" name="desc" placeholder=" Description for Url" required>
            <select name="options" id="editCategory" required>
                <option value="">Select Category</option>
                {%for category in cat%}
                <option value="{{category}}">{{category|title}}</option>
                {%endfor%}
            </select>
        </div>
        <button class="add-new-btn" style="margin-bottom: 1rem;"> Confirm Edit</button>
        

    </form>
    <button class="add-new-btn" hx-get="/del" hx-target="closest .url-card" hx-swap="outerHTML" > cancel</button>
</div>